.editProfileTodo {
    display: flex;
    justify-content: center;

}

.editPasswordProfileButton {
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.editBottom{
    margin-top:10px
}