.itemPartfinder {
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 95%;
    margin-top: 5px;
    padding: 5px;
}
.itemPartfinderRequested {
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 95%;
    margin-top: 5px;
    padding: 5px;

}
.itemPartfinderDenied {
    border: 1px;
    border-color: black;
    border-style: solid;
    color:gray;
    width: 95%;
    margin-top: 5px;
    text-shadow: #e0e0e0 1px 1px 0;    padding: 5px;
    background-color: rgba(128, 128, 128, 0.605);
}

.buttonPartFinder {
    display: flex;
    justify-content: end;
    margin-right: 5px;
    margin-bottom: 5px;
}

.buttonSendPart {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}